@font-face {
    font-family: 'Norse';
    src: url(/Norse-Bold.otf);
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
}

/* footer styling */

.footer {
    background: url(/images/unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 2;
    height: 100%;
    position: relative;
}

.bar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    margin-top: 200px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar img {
    max-height: 100%;
}

.bar span {
    font-family: "Norse", "sans-serif";
    font-size: 5rem;
}

.credit{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: aliceblue;
}

/* main content styling */

.main {
    background-color: blueviolet;
    flex: 3;
}


